@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Sans:wght@400;700&display=swap");
:root {
  --main-bg-color: #566feb;
  --main-element-color: #42a856;
  --main-element-color-dark: #2e773d;
  --main-yellow: #ddc124;
  --main-yellow-dark: #978418;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Noto Sans", sans-serif;
}
.encabezado {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.encabezado img {
  max-width: 50px;
  margin-left: 30px;
}
.encabezado h1 {
  font-size: 2em;
  color: white;
}
.encabezado h1 > p {
  font-size: 0.7em;
  font-weight: 100;
  color: rgb(181, 195, 236);
}
.contenedor-principal-archivos {
  display: flex;
  justify-content: center;
}
.contenedor-archivos {
  margin: 40px;
  margin-bottom: 5px;
  width: 90%;
}
.formulario {
  display: flex;
  flex-direction: column;
}
.contenedor-boton {
  display: flex;
  justify-content: center;
}
#enviar,
#abrir-folder-drive {
  width: 100%;
  border: none;
  font-family: "Noto Sans", sans-serif;
  padding: 10px;
  color: white;
  background-color: var(--main-element-color);
  transition: all 0.25s ease-in-out;
  margin-top: 5px;
}
#enviar:hover {
  background-color: var(--main-element-color-dark);
  cursor: pointer;
}
#abrir-folder-drive {
  width: 90%;
  background-color: var(--main-yellow);
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-decoration: none;
}
#abrir-folder-drive:hover {
  background-color: var(--main-yellow-dark);
  cursor: pointer;
}

#dropzone-mensaje {
  text-align: center;
  font-size: 12px;
  color: #666;
  font-family: "Noto Sans", sans-serif;
}

.archivos {
  border: 1px solid rgb(184, 184, 184);
  width: 90%;
  margin: 10px;
  height: 40vh;
  overflow-y: hidden;
}

.archivos-encabezado {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-bg-color);
  height: 50px;
}
.borrar input[type="submit"],
.folder input[type="submit"] {
  background-color: rgb(211, 44, 22);
  border: none;
  color: white;
  font-family: "Noto Sans", sans-serif;
  padding: 5px 10px;
}
.borrar input[type="submit"]:hover,
.folder input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(133, 29, 15);
}
.folder input[type="submit"] {
  background-color: var(--main-yellow);
}
.folder input[type="submit"]:hover {
  cursor: pointer;
  background-color: var(--main-yellow-dark);
}
.folder input[type="text"] {
  padding: 5px 10px;
  border: none;
}

.folder-contenedor {
  height: calc(40vh - 70px);
  background-color: #efefef;
  border: 2px dashed #ddd;
  margin: 10px;
  overflow-y: auto;
  padding: 5px;
}
.folder-encabezado {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.folder-encabezado h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}
.folder-encabezado img {
  max-height: 40px;
}

.folder-contenido {
  margin-left: 20px;
  border-left: 2px solid #444;
  padding-left: 10px;
}

.archivo {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.archivo a,
.archivo p {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #333;
}
.archivo a {
  text-decoration: none;
  color: var(--main-bg-color);
}

.archivo img {
  max-width: 20px;
}
.archivo a.folderLink {
  margin-left: 10px;
  font-family: "Noto Sans", sans-serif;
  font-size: 12px;
  color: var(--main-bg-color);
}
